[user]
	name = igorcoding
	email = igorcoding@gmail.com
[credential]
	helper = cache --timeout=43200
[core]
	autocrlf = input
[push]
	default = simple
[alias]
	lg = log --pretty=format:\"%Cgreen %h %Cblue %ad %Creset | %s%d %Cred [%an]\" --graph --date=short
	st = status
