[user]
	name = igorcoding
	email = igorcoding@gmail.com
[credential]
	helper = cache --timeout=43200
[core]
	autocrlf = input
	quotePath = false
[push]
	default = current
[alias]
	lg = log --pretty=format:\"%Cgreen %h %Cblue %ad %Creset | %s%d %Cred [%an]\" --graph --date=short
	st = status
	co = checkout
	br = branch
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
